{% block javascrips %}
    {{ parent() }}{#on hérite du js de la base#}

    <script>
        //COL JS

        /*cette fonction va prendre en charge deux choses :
        -la création d'un bouton supprimer pr chaque ProgrammeType
        - la gestion du click


         $form = un formulaire ProgrammeType
        */
       //ASK estce ke c twig qui sait ke $form c le form ProgrammeType?
       function putDeleteButton($form) {

            //on crée un élément HTML bouton
            let $deleteButton = $('<button type="button">Supprimer</button>')

            //pn l'ajoute à la fin du contenu du form en paramétre
            //ASK prkoi en paramétre?
            $form.append($deleteButton)

            //on lui accroche un evenement click
            $deleteButton.on('click',function(){
                //qui supprimera du DOM le form 
                /*supprimera du DOM il faudra valider le form session pr le supprimer de la bdd*/
                $form.remove()
            })
       }

       //lorsk la page est interprété par le navigateur
       //DOM construit à 100%
       $(document).ready(function(){

            //on récupére l'élément HTML  qui contient tous les ProgrammeType
            //grace à la classe programmeForm identifié dans twig
            $collectionForms.find('.programmeForm').each(function(){
            //pr each des programmeForm on va rajouter un bouton suppress
                putDeleteButton($(this));
            })
       })

    </script>

{% endblock %}